.venv/
__pycache__/
*.pyc
python/*.csv
.python-version
python/.ipynb_checkpoints/
Sprint.md
node/node_modules/
nethriq_info.txt
ngrok_install.sh
node/ngrok-v3-stable-linux-amd64.tgz
node/mixed_doubles/
data/*.csv
data/*.json
data/*.mp4
data/*.mov
data/*.avi
data/nethriq_media/
client_secret_575025686798-040ts7jqu5q331cnmtatuqu49q987753.apps.googleusercontent.com.json