python/venv/
__pycache__/
*.pyc
python/*.csv
.python-version
python/.ipynb_checkpoints/
Sprint.md
node/node_modules/
nethriq_info.txt
ngrok_install.sh
node/ngrok-v3-stable-linux-amd64.tgz
node/mixed_doubles/